#esdc-nav
  background-color: #404040
  position: fixed
  width: 100%
  top: 0

  ul
    list-style-type: none
    padding: 0
    margin: 0

    li
      display: inline-block

      &:hover
        background-color: #333

      &.active
        background-color: #333

      a, a:visited
        color: #CCC
        display: block
        padding: 15px
        text-decoration: none

#esdc-nav-wrapper
  width: 960px
  margin: 0 auto
  text-align: left
